.title{
    cursor: pointer;
}
.wrapper{
    border: 1px solid black;
    border-radius: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;
}

.paraText{
    padding: 10px;
}

.closed{
    display: none;
}

.headingText{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 400px;
    height: 50px;
    align-items: center;
}

.titleBorder{
    height: 50px;
    align-items: center;
    display: flex;
    margin: 5px;
    justify-content: space-between;
    width: 400px;
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 10px;
}